@using WorkOrder.Core.Entities
@model List<Department>
@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Tanımlama</h2>
<a href="~/Admin/NewDepartment" class="link-primary">Yeni Departman</a>
<br />
<br />
<table class="table " >
    <tr>
        <th>#</th>
        <th>İsim</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
               <a href="~/Admin/EditDepartment/@item.Id" class="link-primary">Edit</a>|<a href="~/Admin/DeleteDepartment/@item.Id" class="link-primary">Delete</a>
            </td>
        </tr>
    }
</table>

