@model WorkOrder.Core.Entities.WorkPLaceType

@{
    ViewData["Title"] = "EditWorkPlaceType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Güncelle</h2>
<br />

@using(Html.BeginForm("UpdateWorkPlaceType" , "Admin", FormMethod.Post))
{
    
    <div class="form-group">
        <div class="d-none">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id)
    </div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m =>m.Name)
    </div>
    <button type="submit" class="btn btn-primary submit mb-4 justify-content-center">Kaydet</button>
}

